<div class="container">
  <h1><%= user.name %></h1>
  <div>
    <% if (user.admin) { %>
      <img src="/images/admin.png">
      <p>Admin</p>
    <% } else { %>
      <img src="/images/pawn.png">
      <p>Pawn</p>
    <% } %>
  </div>
  <h3><%= user.title %></h3>
  <hr>
  <h3>contact: <%= user.email %></h3>

  <a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id %>">Edit</a>
</div>
